!!!
%html
  %head
    %meta{charset: "utf-8"}
    %meta{http_equiv: "X-UA-Compatible", content: "IE=edge"}
    %title Web Audio Player
    %meta{name: "description", content: ""}
    %meta{name: "viewport", content: "width=1080, initial-scale=1"}
    %link{rel:"stylesheet", href:"stylesheets/application.css"}
  %body
    %main{role: "main"}
      .file-upload
        %p.file-upload__text
          Drop file here or click to select file to play
          %span.fa.fa-music
        %input#file-upload-input.file-upload__input{accept: "audio/*", type: "file"}

      #player.player
        #player-content.player__content
          .player__details
            %p#player-title.player__title
            %p#player-artist.player__artist
            %p#player-filename.player__filename
          .player__toolbar
            .player-volume
              %button#player-volume-toggle.player-volume__toggle{type: "button", data: {state: "on"}}
                %span.player-volume__icon.fa.fa-volume-down
              %input#player-volume-control.player-volume__control{min: "0", max: "1", value: "0.3", step: "0.01", type: "range"}
            %button#player-control.player-control{type: "button"}
              %span.player-control__icon.fa.fa-play
            %select#player-visualization-control.player-visualization-control{name: "player-visualization-control"}
              %option{value: "spectrum"} spectrum
              %option{value: "waveform"} waveform
          .player__graph
            %canvas#canvas{width: "800", height: "250"}
          .player__equalizer
            .equalizer
              .equalizer__bar
                %label.equalizer__toggle
                  %input#equalizer-toggle{name: "equalizer-toggle", type: "checkbox", checked: true}
                  On
                %select#equalizer-control{name: "equalizer-control"}
              
              %ul#equalizer-filters.equalizer-filters
                %li.equalizer-filters__item
                  %input.equalizer-filter.js-equalizer-filter{type: "range", orient: "vertical", data: {index: "0"}}
                %li.equalizer-filters__item
                  %input.equalizer-filter.js-equalizer-filter{type: "range", orient: "vertical", data: {index: "1"}}
                %li.equalizer-filters__item
                  %input.equalizer-filter.js-equalizer-filter{type: "range", orient: "vertical", data: {index: "2"}}
                %li.equalizer-filters__item
                  %input.equalizer-filter.js-equalizer-filter{type: "range", orient: "vertical", data: {index: "3"}}
                %li.equalizer-filters__item
                  %input.equalizer-filter.js-equalizer-filter{type: "range", orient: "vertical", data: {index: "4"}}
                %li.equalizer-filters__item
                  %input.equalizer-filter.js-equalizer-filter{type: "range", orient: "vertical", data: {index: "5"}}
                %li.equalizer-filters__item
                  %input.equalizer-filter.js-equalizer-filter{type: "range", orient: "vertical", data: {index: "6"}}
                %li.equalizer-filters__item
                  %input.equalizer-filter.js-equalizer-filter{type: "range", orient: "vertical", data: {index: "7"}}
                %li.equalizer-filters__item
                  %input.equalizer-filter.js-equalizer-filter{type: "range", orient: "vertical", data: {index: "8"}}
                %li.equalizer-filters__item
                  %input.equalizer-filter.js-equalizer-filter{type: "range", orient: "vertical", data: {index: "9"}}
          #player-loading.player__loading

      #dropzone.dropzone
        .dropzone__inner
          %p.dropzone__text Drag files here to play

    %script{src: "javascripts/modernizr.min.js"}
    %script{src: "javascripts/id3.min.js"}
    %script{src: "javascripts/application.js"}